<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
<servlet>
<servlet-name>someservlet</servlet-name>
<servlet-class>com.hongzhen.servlets.servletLifeCycle</servlet-class>
<load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>someservlet</servlet-name>
<url-pattern>/some</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>someservlet2</servlet-name>
<servlet-class>com.hongzhen.servlets.servletLifeCycle2</servlet-class>
<load-on-startup>0</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>someservlet2</servlet-name>
<url-pattern>/some2</url-pattern>
</servlet-mapping>
</web-app>